<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css">
    
</head>
<body>
    <h1>Información de Cliente</h1>
    <hr>
    ID: {{ cliente.id }}
    <br>
    Nit: {{ cliente.nit }}
    <br>
    Nombre: {{ cliente.nombre }}
    <br>
    Direccion: {{ cliente.direccion }}
    <hr>
    <a href="/cliente" class="btn btn-danger btn-sm">Regresar</a>
</body>
</html>